


svg{
    border: 1px solid black;
    position: relative;
    top: 0;
    left: 0;    

}

#svgout{
    margin-left:5%;
    width: 90%;
    margin-right: 5%;
    height: 80%;
}



.body-content{
    padding-top: 70px;
}

.highlight{
    stroke: #3f0 ;
    stroke-width: 5px;
    cursor: move;
}

path{
    stroke: #000;
    stroke-width: 4px;
}

.highlightPath{
    stroke: #d00;
    cursor: pointer;
}


.hideArrow{
    stroke-opacity:0;
    fill-opacity: 0;
}


.hoverR{
    cursor: pointer;
}

.table-responsive{
    margin-top: 20px;
}

#sol{
    /*border: 1px solid red;*/
    color: red
    
}